<!-- src/views/chart.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>CTF View</title>
        <link rel="stylesheet" href="/css/style.css"/>
        <!-- Include Moment.js and the Chart.js Moment adapter -->
        <script src="/scripts/moment.min.js"></script>
        <script src="/scripts/chartjs-adapter-moment.min.js"></script>
    </head>
<body>
    <div id="header-container">
        <nav id="adminLink">
            <ul>
                <li><a href="/">Back</a></li>
            </ul>
        </nav>
        <div id="ctf-dropdown-container"></div>
        <h1>CTF Admin</h1>
        <div id="mode">   
            <div class="checkbox-wrapper-5">
                <div class="check">
                  <input type="checkbox" id="darkMode">
                  <label for="darkMode"></label>
                </div>
                <label for="darkMode">Dark Mode</label>
              </div>
        </div>
    </div>
    <div class="body">
        <div id="ctfDetails">Loading CTF details...</div>
        <h2>Ctf management</h2>
        <div id="changeDetails">
            <form action="/admin/changeDetails" method="POST">
                <input type="hidden" id="ctf_id" name="ctf_id" value="1">
                <div>
                    <label for="name">Name:</label>
                    <input type="text" id="ctf_name" name="ctf_name" required>
                </div>
                <div>
                    <label for="start">Start:</label>
                    <input type="date" id="start_date" name="start_date" required>
                </div>
                <div>
                    <label for="end">End:</label>
                    <input type="date" id="end_date" name="end_date" required>
                </div>
                <div>
                    <label for="startHour">Start hour:</label>
                    <input type="number" id="start_hour" name="start_hour" required>
                </div>
                <div>
                    <label for="endHour">End hour:</label>
                    <input type="number" id="end_hour" name="end_hour" required>
                </div>
                <input type="submit" value="Change">
            </form>
        </div>
        <h2>User creation</h2>
        <div id="addUser">
            <form action="/admin/user" method="POST">
                <input type="hidden" id="u_ctf_id" name="ctf_id" value="1">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br><br>
                <input type="submit" value="Add">
            </form>
        </div>
        <h2>User management</h2>
        <div class="tableDiv">
            <h3>User List</h3>
            <table id="userTableBody" >
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Action</th>
                </tr>
                <tr id="createUserRow">
                    <td ></td>
                    <td ></td>
                    <td><button>Edit</button></td>
                </tr>
                <!-- Add more rows as needed -->
            </table>
        </div>
        <h2>Machine management</h2>
        <div class="multiTableDiv">
            <div class="tableDiv">
                <h3>Manage Machine</h3>
                <table id="machineTableBody" >
                    <!-- Add more rows as needed -->
                </table>
            </div>
            <div class="tableDiv">
                <h3> View pwn progression</h3>
                <table id="pwnTableBody" >
                </table>
                <p id="nbUser">Number of users : </p>
            </div>
        </div>
        
    </div>
    </div>
    
    <!-- <script type="text/javascript"src="/public/ctfinfo.js"></script> -->
    <script src="/style.js"></script>
    <script src="/admin.js"></script>
    
</body>
</html>
