<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <h1>Admin Login</h1>
    <form action="/admin/login" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
        </div>
        <input type="submit" value="Login">
    </form>
</body>
</html>
